PRE.scheme { background: #f6f0ea;
             line-height: 130%;
             padding: 0.5em;
             border: 1px solid #808080; }

PRE.scheme SPAN.o { color: #600000; } /* comment */
PRE.scheme SPAN.p { color: #707070; } /* parenthesis */
PRE.scheme SPAN.s { color: #000000; } /* symbol */
PRE.scheme SPAN.c { color: #0060c0; } /* constant */
PRE.scheme SPAN.r { color: #6000c0; } /* r4rs procedure */
PRE.scheme SPAN.y { color: #6000c0; } /* r4rs syntax */
PRE.scheme SPAN.x { color: #c06000; } /* s9fes procedure */
PRE.scheme SPAN.z { color: #c06000; } /* s9fes syntax */
PRE.scheme SPAN.m { color: #000080; } /* normal form */

PRE.scheme-hl { background: #f6f0ea;
                line-height: 130%;
                padding: 0.5em;
                border: 1px solid #808080; }

PRE.scheme-hl SPAN.o { color: #600000; } /* comment */
PRE.scheme-hl SPAN.p { color: #707070; } /* parenthesis */
PRE.scheme-hl SPAN.s { color: #000000; } /* symbol */
PRE.scheme-hl SPAN.c { color: #0060c0; } /* constant */
PRE.scheme-hl SPAN.r { color: #6000c0; } /* r4rs procedure */
PRE.scheme-hl SPAN.y { color: #6000c0; } /* r4rs syntax */
PRE.scheme-hl SPAN.x { color: #c06000; } /* s9fes procedure */
PRE.scheme-hl SPAN.z { color: #c06000; } /* s9fes syntax */
PRE.scheme-hl SPAN.m { color: #000080; } /* normal form */

PRE.scheme-hl SPAN.n:hover { background: #ffffb8; }
PRE.scheme-hl SPAN.n SPAN.n:hover { background: #ffdcba; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n:hover { background: #eacbff; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n:hover { background: #c5ffe5; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover { background: #ffffb8; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover { background: #ffdcba; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover { background: #eacbff; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #c5ffe5; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #ffffb8; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #ffdcba; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #eacbff; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #c5ffe5; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #ffffb8; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #ffdcba; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #eacbff; }
PRE.scheme-hl SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n SPAN.n:hover
        { background: #c5ffe5; }
