#!/bin/rc

# S9 startup script

# based on a script in this article:
# http://ninetimes.cat-v.org/tips/2009/07/19/0/

s9dir=$home/lib/s9fes

mkdir -p $home/lib/s9fes

for (i in . $objtype lib ext contrib)
 	bind -a $s9dir/$i $home/lib/s9fes

S9FES_LIBRARY_PATH=$home/lib/s9fes
/$objtype/bin/s9fes $*

unmount $home/lib/s9fes
