################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Build
/Release
/tiny-js.2012.opensdf
/tiny-js.2012.sdf
/tiny-js.2012.v11.suo
*.jsc
