*.osc
*.ost
*.tmp
win/os-fcgi/Release/
win/os-fcgi/Debug/
win/os-fcgi/DebugPrice/
win/os-fcgi/bin-Release/
win/os-fcgi/bin-Debug/
win/os-fcgi/bin-DebugPrice/
win/os-fcgi/ipch/
win/os-fcgi/x64/Release/
win/os-fcgi/x64/Debug/
win/os-fcgi/x64/bin-Release/
win/os-fcgi/x64/bin-Debug/
win/os-fcgi/cache-osc/
win/os/Release/
win/os/Debug/
win/os/DebugPrice/
win/os/bin-Release/
win/os/bin-Debug/
win/os/bin-DebugPrice/
win/os/ipch/
win/os/x64/Release/
win/os/x64/Debug/
win/os/x64/bin-Release/
win/os/x64/bin-Debug/
win/os/cache-osc/
win/ipch/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
build
