body
{
 background-color: #99cccc;
 background-image: url(background.png);
 display: block;
 font-family: verdana,helvetica,sans-serif;
 font-size: 10pt;
 margin-left: auto;
 margin-right: auto;
 max-width: 70em;
}

img
{
 background-color: white;
 border-style: none;
}

span.header
{
 font-weight: bold;
}

table.layout
{
 border-collapse: collapse;
 border-style: none;
 border-width: 0px;
 margin: 0px;
 padding: 0px;
 width: 100%;
}

td.header
{
 background-color: white;
 background-repeat: no-repeat;
 padding: 6pt;
 vertical-align: top;
}

td.sidebar
{
 background-color: #99cccc;
 border-color: #669999;
 border-style: none;
 border-width: 0px;
 padding: 3pt;
 vertical-align: top;
 width: 18em;
 font-size: 8pt;
}

td.sidebar a:hover
{
 color: red;
}

td.content
{
 background-color: white;
 vertical-align: top;
 padding: 6pt;
}

td.footer
{
 background-color: white;
 vertical-align: bottom;
}

ul.toc
{
 padding-left: 1em;
}

td.content img
{
 padding: 4pt;
}

div.fragment
{
 background-color: #ddeeee;
 border-color: #996666;
 border-style: dashed;
 border-width: 1px;
 font-family: monospace;
 padding: 8pt;
 margin: 8pt;
 margin-left: 24pt;
}

td {
 font-size: 10pt;
}





caption
{
 font-weight: bold
}

a.qindex
{
}

a.qindexRef
{
}

a.el
{
 text-decoration: none;
 font-weight: bold
}

a.elRef
{
 font-weight: bold
}

a.code
{
 text-decoration: none;
 font-weight: normal;
 color: #4444ee
}

a.codeRef
{
 font-weight: normal;
 color: #4444ee
}

dl.el
{
 margin-left: -1cm
}

div.ah
{
 background-color: black;
 font-weight: bold;
 color: #ffffff;
 margin-bottom: 3px;
 margin-top: 3px
}

div.groupHeader
{
 margin-left: 16px;
 margin-top: 12px;
 margin-bottom: 6px;
 font-weight: bold
}

div.groupText
{
 margin-left: 16px;
 font-style: italic;
}

td.indexkey
{
 background-color: #ddeeee;
 font-weight: bold;
 padding-right: 10px;
 padding-top: 2px;
 padding-left: 10px;
 padding-bottom: 2px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 2px;
 margin-bottom: 2px
}

td.indexvalue
{
 background-color: #ddeeee;
 font-style: italic;
 padding-right: 10px;
 padding-top: 2px;
 padding-left: 10px;
 padding-bottom: 2px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 2px;
 margin-bottom: 2px
}

td.md
{
 background-color: #ddeeee;
 font-weight: bold;
}

td.mdname1
{
 background-color: #ddeeee;
 font-weight: bold;
 color: #602020;
}

td.mdname
{
 background-color: #ddeeee;
 font-weight: bold;
 color: #602020;
 width: 600px;
}

span.keyword
{
 color: #008000
}

span.keywordtype
{
 color: #604020
}

span.keywordflow
{
 color: #e08000
}

span.comment
{
 color: #800000
}

span.preprocessor
{
 color: #806020
}

span.stringliteral
{
 color: #002080
}

span.charliteral
{
 color: #008080
}
