I: operators.qc
D: compound and pre/postfix operators
T: -execute
C: -std=fteqcc
M: 6 = 6
M: 11 = 11
M: 7 = 7
M: 6 = 6
M: 12 = 12
M: 6 = 6
M: 11 = 11
M: 4
M: 2
M: 12 = 12
M: 6 = 6
M: 3 = 3
M: '6 8 10' = '6 8 10'
M: '3 4 5' = '3 4 5'
M: 3 = 3
M: 2 = 2
M: 4 = 4
