I: switch.qc
D: test switches
T: -execute
C: -std=fteqcc -frelaxed-switch
M: One
M: Two
M: Three, falling through to 2 - Two
M: Four, falling through to default - Other
M: Other
M: Enhanced 80
M: 0 1 2 3 4 5
M: early break
