I: ternary.qc
D: nested ternary expressions
T: -execute
C: -std=fteqcc -fcorrect-ternary
M: 1 a=1
M: 1 a=2
M: 1 a=other
M: 0 not met
M: 0 not met
M: 0 not met
M: 1 a=1
M: 1 a=2
M: 1 a=other
M: 0 not met
M: 0 not met
M: 0 not met
M: 5
M: 9
M: 10
M: select_a: 1
M: select_b: 0
