I: ternary.qc
D: nested ternary expressions - FTE-style ternary
T: -execute
C: -std=fteqcc
M: 1 a=11 a=21 a=other0 
M: 0 
M: 0 
M: 1 a=11 a=21 a=other0 
M: 0 
M: 0 
M: 5
M: 9
M: 10
M: select_a: 1
M: select_b: 0
