I: varargs.qc
D: non-builtin vararg support
T: -execute
C: -std=fteqcc -fvariadic-args
M: You gave me 3 additional parameters
M: First: Hello
M: You chose: You
M: Vararg 0 = Hello
M: Vararg 1 = You
M: Vararg 2 = There
M: Got: 3
M: Got: 3
