I: vec_ops.qc
D: some additional vector operations
T: -execute
C: -std=gmqcc
E: -vector "8 16 32"
M: '8 16 32'
M: '4 8 16'
M: '2 4 8'
M: '4 8 16'
M: '20 24 16'
M: '0 0 16'
M: '29 42 51'
M: '0 8 16'
M: '-24 44 -16'
