I: xor.qc
D: test bitwise xor
T: -execute
C: -std=gmqcc
E: $null
M: 6
M: 8
M: commutative
M: assocative
M: inverse
M: vv: '6 8 6'
M: vf: '15 8 15'
M: vv: '6 8 6'
M: vf: '15 8 15'
M: 100:200 swapped is: 200:100
M: '1 2 3':'4 5 6' swapped is: '4 5 6':'1 2 3'
M: '4 7 6'
M: '4 7 6'
M: '4 7 6'
M: '4 7 6'
M: '4 7 6'
